@media print {
    #elements_prefix_submit_error_button, #elements_prefix_error_message {
        display: none !important;
    }
}

#elements_prefix_result {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -150px;
    width: 300px;
    height: 50px;
    padding: 10px;
    color: white;
    font: 15px/1.5 Helvetica, Verdana, sans-serif;
    background-color: #1ebee6;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
}

#elements_prefix_result .close {
    position: relative;
    border-radius: 50%;
    background-color: #f40024;
    padding: 0 8px;
    cursor: pointer;
    color: white;
    height: 16px;
    float: right;
}

#elements_prefix_result .close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 10px;
    margin-top: 3px;
    margin-left: -1px;
    width: 2px;
    background-color: white;
}

#elements_prefix_result .close:before {
    transform: rotate(45deg);
}

#elements_prefix_result .close:after {
    transform: rotate(-45deg);
}

#elements_prefix_result .close:hover {
    opacity: 1;
}

#elements_prefix_error_description {
    min-width: 235px;
    min-height: 100px;
}

#elements_prefix_submit_error_button {
    font: 15px/1.5 Helvetica, Verdana, sans-serif;
    position: fixed;
    top: 40px;
    left: 5px;
    z-index: 100;
    padding: 5px;
    color: white;
    background-color: #0095ff;
    border-color: #07c;
    box-shadow: inset 0 1px 0 #66bfff;
    cursor: pointer;
    opacity: 0.4;
}

#elements_prefix_error_message {
    position: fixed;
    top: 80px;
    left: 5px;
    z-index: 100;
    padding-top: 40px;
    color: white;
}
#elements_prefix_error_message button{
    height: 23px;
}
#elements_prefix_submit_error_button span {
    max-width: 0;
    -webkit-transition: max-width 1s;
    transition: max-width 1s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

#elements_prefix_submit_error_button:hover {
    opacity: 1;
}

#elements_prefix_submit_error_button:hover span {
    max-width: 15rem;
}