#elements_prefix_text_area_div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -175px;
    width: 350px;
    padding: 10px;
    color: black;
    font: 15px/1.5 Helvetica, Verdana, sans-serif;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
}
#elements_prefix_selected_text {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#elements_prefix_error_description {
    width: 300px;
}
